/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled:bg-blue-100;
}

input {
    @apply bg-transparent appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-white leading-tight focus:outline-none focus:border-blue-500;
}

html,
body,
app-root {
    display: block;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    scroll-behavior: smooth;
    width: 100%;
    min-height: 100%;
    background-color: #1c1f25;
    color: white;
}

html {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}
