@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'theme/componenets';

:root {
}

html,
body,
app-root {
    display: block;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    min-height: 100%;
    background-color: #1c1f25;
}

html {
    font-family: 'Inter', sans-serif;
}

router-outlet {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}
