<header class="tui-text_body-xl">
    <a routerLink="/">Home</a>

    <div>
        <!--        <a href="">Blog</a>-->
        <a routerLink="/contact">Contact me</a>
        <a href="https://www.linkedin.com/in/ericaskari">Linkedin</a>
        <a href="https://github.com/ericaskari">Github</a>
        <!--        <a href="">CV</a>-->
    </div>
</header>
<main class="flex">
    <router-outlet></router-outlet>
</main>
<footer>
    <span><b>Backend version:</b></span>
    <span>{{ (apiVersion$ | async) }}</span>
    <br>
    <span><b>Frontend version:</b></span>
    <span>{{ (appVersion$ | async) }}</span>
</footer>
<div [@darkenBg]="'visible'" class="landing-bg"></div>
<app-notification></app-notification>

