<div class="flex-1 border-2 border-amber-400 grid grid-cols-2 grid-rows-6">
    <div class="border-white border-2">PICTURE</div>
    <div class="border-white border-2">CONTACT</div>
    <div class="border-white border-2">EDUCATION</div>
    <div class="border-white border-2">LANGUAGE</div>
    <div class="border-white border-2">NAME</div>
    <div class="border-white border-2">ABOUTME</div>
    <div class="border-white border-2">WORK EXPERIENCE</div>
    <div class="border-white border-2">SKILLS</div>
</div>
