:host {
    @apply block;
    min-height: 100vh;
    padding: 0 clamp(0rem, 10vw, 1000px);
}

section:first-child {
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
