<form [formGroup]="contactFormService.formGroup" appForm class="grid" *appTextAnimation="translate.currentLang" [@textChangeAnimation]>
    <div>
        <h1 class="" appFormHeader style="color: white">{{ 'pages.contact.form' | translate }}</h1>
    </div>
    <div>
        <input
            [formControl]="contactFormService.emailFormControl"
            appInput
            placeholder="{{ 'pages.contact.email' | translate }}"
            type="text"
        />
    </div>
    <div>
        <input
            [formControl]="contactFormService.nameFormControl"
            appInput
            placeholder="{{ 'pages.contact.name' | translate }}"
            type="text"
        />
    </div>
    <div>
        <input
            [formControl]="contactFormService.subjectFormControl"
            appInput
            placeholder="{{ 'pages.contact.subject' | translate }}"
            type="text"
        />
    </div>
    <div>
        <textarea
            [formControl]="contactFormService.messageFormControl"
            appInput
            placeholder="{{ 'pages.contact.message' | translate }}"
            type="text"
        ></textarea>
    </div>
    <div class="grid grid-cols-6" style="direction: rtl">
        <button (click)="onClick($event)" appButton type="submit" class="col-span-12 md:col-span-2 lg:col-span-1">
            {{ 'pages.contact.send' | translate }}
        </button>
    </div>
</form>
