:host {
    @apply max-w-4xl mx-auto relative block px-2;
}

section:first-child {
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
