<div class="flex justify-center">
    <button class="p-4 m-4" (click)="openWebcam()" [disabled]="!isWebcamClosed">Allow Webcam and Audio access</button>
</div>
<div class="grid grid-cols-12 p-4 gap-2">
    <div class="col-span-6 grid grid-cols-12">
        <h3 class="col-span-12">Local</h3>
        <video
            [srcObject]="roomService.localStream"
            autoplay
            playsinline
            [muted]="'muted'"
            class="col-span-12 p-2 border border-white border-solid mirrored-video"
        ></video>
    </div>
    <div class="grid col-span-6 grid-cols-12">
        <h3 class="col-span-12">Rmeote</h3>
        <video [srcObject]="roomService.remoteStream" autoplay playsinline class="col-span-12 p-2 border border-white border-solid"></video>
    </div>
</div>
<div class="flex flex-col gap-2">
    <button (click)="createRoom()" [disabled]="isWebcamClosed">Create Room</button>
</div>

<div>Rooms</div>
<div class="flex flex-col">
    <div *ngFor="let room of rooms$ | async" class="border p-4">
        <div>
            <b>{{ room.id }}</b>
            <button (click)="roomService.deleteRoom(room.id).subscribe()">Delete</button>
            <button (click)="joinRoom(room.id)" [disabled]="isWebcamClosed">Join</button>
        </div>
        <div>
            {{ room.offer ? 'Has offer' : 'No Offer' }}
        </div>
        <div>
            {{ room.answer ? 'Has answer' : 'No answer' }}
        </div>
        <div>callerCandidates: {{ room.callerCandidates.length }}</div>
        <div>calleeCandidates: {{ room.calleeCandidates.length }}</div>
    </div>
</div>
