<ng-template [ngIf]="breakpointService.isDesktop$ | async" [ngIfElse]="mobileMode">
    <ng-container *ngTemplateOutlet="desktopMode"></ng-container>
</ng-template>

<ng-template #desktopMode>
    <nav>
        <div class="mx-auto flex px-8 h-16 items-center gap-5">
            <a class="link" routerLinkActive="link-active" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">
                Home
            </a>
            <div class="flex-1"></div>
            <ng-container *ngTemplateOutlet="links"></ng-container>
        </div>
    </nav>
</ng-template>

<ng-template #mobileMode>
    <nav>
        <div class="mx-auto flex px-2 py-3 h-auto flex-col gap-2">
            <div class="flex items-center">
                <a
                    class="link"
                    routerLinkActive="link-active"
                    routerLink="/"
                    [routerLinkActiveOptions]="{ exact: true }"
                >
                    Home
                </a>
                <div class="flex-1"></div>
                <button class="mobile-link-button" (click)="expanded = !expanded">
                    <fa-icon size="1x" [icon]="faBars"></fa-icon>
                </button>
            </div>
            <div class="flex flex-col justify-start gap-3 pb-3" *ngIf="expanded">
                <ng-container *ngTemplateOutlet="links"></ng-container>
            </div>
        </div>
    </nav>
</ng-template>

<ng-template #links>
    <div class="flex-1"></div>
    <a class="link" routerLinkActive="link-active" routerLink="/contact"> Contact </a>
    <div></div>
    <a class="link" href="https://github.com/ericaskari"> Github </a>
    <a class="link" href="https://www.linkedin.com/in/ericaskari"> Linkedin </a>
</ng-template>
