<section class="tui-text_body-xl">
    <div [@landingText]="'visible'" class="profile-image"></div>

    <div [@landingText]="'visible'" class="landing-text">I am Mohammad Askari</div>
    <div [@landingText]="'visible'" class="landing-text-small">You can call me Eric</div>

    <div [@landingText]="'visible'" class="my-words">
        <p>Software developer with more than 3 years of experience</p>
        <p>Student of Bachelor of Science in Engineering, Information and Communication Technology</p>
    </div>
</section>
<section class="langs">
    <img alt="" height="100" src="../../../assets/logos/CSharp.png" width="100" />
    <img alt="" height="100" src="../../../assets/logos/Typescript.png" width="100" />
    <img alt="" height="100" src="../../../assets/logos/Javascript.png" width="100" />
    <img alt="" height="100" src="../../../assets/logos/Java.png" width="100" />
    <img alt="" height="100" src="../../../assets/logos/DOT_NET_CORE.png" width="100" />
    <img alt="" height="100" src="../../../assets/logos/NestJs.png" width="100" />
    <img alt="" height="100" src="../../../assets/logos/Angular.png" width="100" />
    <img alt="" height="100" src="../../../assets/logos/NodeJs.png" width="100" />
    <img alt="" height="100" src="../../../assets/logos/React.png" width="100" />
    <img alt="" height="100" src="../../../assets/logos/Vue.png" width="100" />
    <img alt="" height="100" src="../../../assets/logos/Redux.png" width="100" />
    <img alt="" height="100" src="../../../assets/logos/RxJs.png" width="100" />
</section>
