<section>
    <div [@darkenBg]="'visible'" class="landing-bg"></div>

    <div [@landingText]="'visible'" class="profile-image">
    </div>

    <div [@landingText]="'visible'" class="landing-text">
        I am Mohammad Askari
    </div>
    <div [@landingText]="'visible'" class="landing-text-small">
        You can call me Eric
    </div>

    <div [@landingText]="'visible'" class="my-words">
        <p>Software developer with more than 3 years of experience</p>
        <p>Student of Bachelor of Science in Engineering, Information and Communication Technology</p>
    </div>
</section>
