<ng-template #imageSection>
    <div class="flex-1 flex justify-center items-center" id="cv-picture-section">
        <div class="bg-profile w-[200px] h-[200px] bg-cover bg-center bg-no-repeat rounded-full"></div>
    </div>
</ng-template>
<ng-template #nameSection>
    <div class="flex-1 flex flex-col justify-center gap-4" id="cv-name-section">
        <div class="flex flex-col justify-center gap-2">
            <p class="text-center md:text-4xl md:text-start" style="font-size: clamp(1rem, 1vw, 2rem)">
                {{ 'generic.name' | translate }}
            </p>
            <p class="text-2xl text-center md:text-2xl md:text-start">
                {{ 'generic.role' | translate }}
            </p>
        </div>
        <p class="text-center md:text-start" style="font-size: clamp(0.8rem, 3vw, 1.1rem); max-width: 60ch">
            {{ 'pages.cv.aboutme' | translate }}
        </p>
    </div>
</ng-template>

<ng-template #contactSection>
    <div class="grid-box target:bg-[#2b3034] rounded" id="cv-contact-section">
        <div class="grid-box-header">
            <span>{{ 'pages.cv.headers.contact' | translate | uppercase }}</span>
            <hr />
        </div>
        <div class="contacts">
            <div class="contact-group">
                <div>
                    <fa-icon [icon]="faPhone"></fa-icon>
                </div>
                <a href="tel:+358504762583" *ngIf="revealPhone">+358 50 476 2583</a>
                <a id="reveal-phone-button" (click)="revealPhone = true" *ngIf="!revealPhone" class="cursor-pointer">{{
                    'generic.show' | translate
                }}</a>
            </div>
            <div class="contact-group">
                <div>
                    <fa-icon [icon]="faAt"></fa-icon>
                </div>
                <a href="mailto:eric.askari@gmail.com" *ngIf="revealEmail">eric.askari@gmail.com</a>
                <a id="reveal-email-button" (click)="revealEmail = true" *ngIf="!revealEmail" class="cursor-pointer">{{
                    'generic.show' | translate
                }}</a>
            </div>
            <div class="contact-group">
                <div>
                    <div class="bg-linkedin bg-center bg-contain bg-no-repeat w-6 h-6"></div>
                </div>
                <a href="https://linkedin.com/in/ericaskari" target="_blank">linkedin.com/in/ericaskari</a>
            </div>
            <div class="contact-group">
                <div>
                    <div class="bg-github-light bg-center bg-contain bg-no-repeat w-6 h-6"></div>
                </div>
                <a href="https://github.com/ericaskari" target="_blank">github.com/ericaskari</a>
            </div>
            <div class="contact-group">
                <div>
                    <fa-icon [icon]="faLocation"></fa-icon>
                </div>
                <span>00300 Helsinki, Finland</span>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #eduSection>
    <div class="grid-box" id="cv-education-section">
        <div class="grid-box-header">
            pages.cv.headers.education
            <hr />
        </div>
        <div>
            <app-timeline [timelines]="educations | educationListToTimelineList"></app-timeline>
        </div>
    </div>
</ng-template>
<ng-template #expSection>
    <div class="grid-box" id="cv-experiences-section">
        <div class="grid-box-header">
            <span>{{ 'pages.cv.headers.work-experience' | translate | uppercase }}</span>
            <hr />
        </div>

        <div>
            <app-timeline [timelines]="workExperiences | workExpListToTimelineList"></app-timeline>
        </div>
    </div>
</ng-template>
<ng-template #langSection>
    <div class="grid-box" id="cv-languages-section">
        <div class="grid-box-header">
            <span>{{ 'pages.cv.headers.languages' | translate | uppercase }}</span>
            <hr />
        </div>
        <ul class="list-disc list-inside px-4">
            <li *ngFor="let language of languages">{{ language | translate }}</li>
        </ul>
    </div>
</ng-template>
<ng-template #skillSection>
    <div class="grid-box" id="cv-skills-section">
        <div class="grid-box-header">
            <span>{{ 'pages.cv.headers.skills' | translate | uppercase }}</span>
            <hr />
        </div>
        <ng-container *ngFor="let skill of skills">
            <h4 class="py-4">{{ skill.category }}</h4>
            <ul class="list-disc list-inside px-4">
                <li *ngFor="let items of skill.items">{{ items }}</li>
            </ul>
        </ng-container>
    </div>
</ng-template>

<div class="grid grid-cols-12 text-white gap-8 pt-20" *appTextAnimation="translate.currentLang" [@textChangeAnimation]>
    <div class="col-span-12 md:col-span-6"><ng-container *ngTemplateOutlet="imageSection"></ng-container></div>
    <div class="flex col-span-12 md:col-span-6"><ng-container *ngTemplateOutlet="nameSection"></ng-container></div>
    <div class="col-span-12 md:col-span-6 md:col-start-7 md:row-start-2 md:row-span-2">
        <ng-container *ngTemplateOutlet="skillSection"></ng-container>
    </div>
    <div class="col-span-12 row-start-3 md:col-span-6 md:col-start-1 md:row-start-2">
        <ng-container *ngTemplateOutlet="contactSection"></ng-container>
    </div>
    <div class="col-span-12 md:col-span-6"><ng-container *ngTemplateOutlet="eduSection"></ng-container></div>
    <div class="col-span-12 md:col-span-6"><ng-container *ngTemplateOutlet="expSection"></ng-container></div>
    <div class="col-span-12 md:col-span-6 md:col-start-1 md:row-start-4"><ng-container *ngTemplateOutlet="langSection"></ng-container></div>
</div>
