<ng-template #imageSection>
    <div class="flex-1 flex justify-center items-center">
        <div class="bg-profile w-[200px] h-[200px] bg-cover bg-center bg-no-repeat rounded-full"></div>
    </div>
</ng-template>
<ng-template #nameSection>
    <div class="flex-1 flex flex-col justify-center">
        <p class="font-thin text-3xl text-center md:text-4xl md:text-start">
            {{ 'generic.name' | translate }}
        </p>
        <p class="font-thin text-2xl text-center md:text-2xl md:text-start">
            {{ 'generic.role' | translate }}
        </p>
    </div>
</ng-template>

<ng-template #contactSection>
    <div class="grid-box">
        <div class="grid-box-header">
            <span>{{ 'pages.cv.headers.contact' | translate | uppercase }}</span>
            <hr />
        </div>
        <div class="contacts">
            <div class="contact-group">
                <div>
                    <fa-icon [icon]="faPhone"></fa-icon>
                </div>
                <a href="tel:+358504762583" *ngIf="revealPhone">+358 50 476 2583</a>
                <a id="reveal-phone-button" (click)="revealPhone = true" *ngIf="!revealPhone" class="cursor-pointer">{{
                    'generic.show' | translate
                }}</a>
            </div>
            <div class="contact-group">
                <div>
                    <fa-icon [icon]="faAt"></fa-icon>
                </div>
                <a href="mailto:eric.askari@gmail.com" *ngIf="revealEmail">eric.askari@gmail.com</a>
                <a id="reveal-email-button" (click)="revealEmail = true" *ngIf="!revealEmail" class="cursor-pointer">{{
                    'generic.show' | translate
                }}</a>
            </div>
            <div class="contact-group">
                <div>
                    <div class="bg-linkedin bg-center bg-contain bg-no-repeat w-6 h-6"></div>
                </div>
                <a href="https://linkedin.com/in/ericaskari" target="_blank">linkedin.com/in/ericaskari</a>
            </div>
            <div class="contact-group">
                <div>
                    <div class="bg-github-light bg-center bg-contain bg-no-repeat w-6 h-6"></div>
                </div>
                <a href="https://github.com/ericaskari" target="_blank">github.com/ericaskari</a>
            </div>
            <div class="contact-group">
                <div>
                    <fa-icon [icon]="faLocation"></fa-icon>
                </div>
                <span>00300 Helsinki, Finland</span>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #aboutMeSection>
    <div class="grid-box">
        <div class="grid-box-header">
            <span>{{ 'pages.cv.headers.about' | translate | uppercase }}</span>
            <hr />
        </div>
        <p>{{ 'pages.cv.aboutme' | translate }}</p>
    </div>
</ng-template>
<ng-template #eduSection>
    <div class="grid-box">
        <div class="grid-box-header">
            <span>{{ 'pages.cv.headers.education' | translate | uppercase }}</span>
            <hr />
        </div>
        <div>
            <div *ngFor="let work of educations; let i = index" class="flex flex-col">
                <p class="flex flex-col mb-4">{{ work.location | translate }}</p>
                <p class="flex mb-6">
                    <span class="flex-1">
                        {{ work.startDate | date: 'YYYY-MM' }} -
                        {{ (work.endDate | date: 'YYYY-MM') || work.endDateStr }}
                    </span>
                    <span class="flex-1">{{ work.degree | translate }}</span>
                </p>
                <hr class="mx-[30%] my-10" *ngIf="i !== educations.length - 1" />
            </div>
        </div>
    </div>
</ng-template>
<ng-template #expSection>
    <div class="grid-box" id="cv-experiences-section">
        <div class="grid-box-header">
            <span>{{ 'pages.cv.headers.work-experience' | translate | uppercase }}</span>
            <hr />
        </div>
        <div>
            <div *ngFor="let work of workExperiences; let i = index" class="flex flex-col">
                <p class="flex mb-6">
                    <span class="flex-1">
                        {{ work.startDate | date: 'YYYY-MM' }} -
                        {{ (work.endDate | date: 'YYYY-MM') || work.endDateStr }}
                    </span>
                    <span class="flex-1">{{ work.position }}</span>
                    <span class="flex-1">{{ work.location }}</span>
                </p>
                <p *ngFor="let description of work.description; let i = index" class="flex flex-col gap-3">{{ description | translate }}</p>
                <hr class="mx-[30%] my-10" *ngIf="i !== workExperiences.length - 1" />
            </div>
        </div>
    </div>
</ng-template>
<ng-template #langSection>
    <div class="grid-box" id="cv-languages-section">
        <div class="grid-box-header">
            <span>{{ 'pages.cv.headers.languages' | translate | uppercase }}</span>
            <hr />
        </div>
        <ul class="list-disc list-inside px-4">
            <li *ngFor="let language of languages">{{ language | translate }}</li>
        </ul>
    </div>
</ng-template>
<ng-template #skillSection>
    <div class="grid-box" id="cv-skills-section">
        <div class="grid-box-header">
            <span>{{ 'pages.cv.headers.skills' | translate | uppercase }}</span>
            <hr />
        </div>
        <ul class="list-disc list-inside px-4">
            <li *ngFor="let skill of skills">{{ skill }}</li>
        </ul>
    </div>
</ng-template>

<div class="grid grid-cols-12 text-white gap-8" *appTextAnimation="translate.currentLang" [@textChangeAnimation]>
    <div class="col-span-12 md:col-span-6"><ng-container *ngTemplateOutlet="imageSection"></ng-container></div>
    <div class="flex col-span-12 md:col-span-6"><ng-container *ngTemplateOutlet="nameSection"></ng-container></div>
    <div class="col-span-12 md:col-span-6 md:col-start-7 md:row-start-2">
        <ng-container *ngTemplateOutlet="aboutMeSection"></ng-container>
    </div>
    <div class="col-span-12 md:col-span-6 md:col-start-1 md:row-start-2">
        <ng-container *ngTemplateOutlet="contactSection"></ng-container>
    </div>
    <div class="col-span-12 md:col-span-6"><ng-container *ngTemplateOutlet="eduSection"></ng-container></div>
    <div class="col-span-12 md:col-span-6"><ng-container *ngTemplateOutlet="expSection"></ng-container></div>
    <div class="col-span-12 md:col-span-6 md:col-start-7 md:row-start-4">
        <ng-container *ngTemplateOutlet="skillSection"></ng-container>
    </div>
    <div class="col-span-12 md:col-span-6 md:col-start-1 md:row-start-4"><ng-container *ngTemplateOutlet="langSection"></ng-container></div>
</div>
